include ../assignment-statuses/_assignment-statuses.pug
include ../edit-assignment/_edit-assignment.pug
include ../messages/_messages.pug
include ../chat/_chat.pug

mixin assignment_card(days, work_status, prioity, role, start, end, solution_status, prolong, request_terms, changeble)
	+b.assignment-card.scrollbar-vertical
		+assignment_card_top(prioity, work_status, changeble)
		if (role=="author")&&(prolong=="prolong")
			+b.prolong
				+header("Запрос на продление крайнего срока:")
				+e.wrap--accept
					+date-field()
					+e.BUTTON.accept.btn-fill-blue.btn 
						+icon("accept")
					+e.BUTTON.decline.btn-fill-red.btn
						+icon("close-cross")
		+e.requests-solutions
			+e.request-info
				+e.creator-wrap
					+e.creator
						+creator("Викторовский Валентин Георгиевич", "Участник", "Эксперт", "Отдел автоматизации производства в условиях крайнего севера")
					+e.BUTTON.add-chat.clean-btn
						img(src="img/svg/add-chat.svg")
				+assignment-request("incoming", bigtext, "15.08.2022 14:48", true, false, "14.09.2022", request_terms, bigtext, prolong)
				if (role=="author")&&((solution_status=="waits")||(solution_status=="accepted"))||(role=="executer")&&(solution_status=="accepted")
					+assignment-solution("incoming", bigtext, "15.08.2022 14:48", true, false)
					if (role=="author")&&(solution_status=="waits")
						+e.decision
							+e.BUTTON.decline.btn-grey.btn Отклонить
							+e.BUTTON.decline.btn-fill-blue.btn Принять
				if (role=="executer")&&(solution_status=="sent")
					+assignment-solution("incoming", bigtext, "15.08.2022 14:48", true, true)
		if (role=="executer")&&((solution_status=="needs")||(solution_status=="decline-edit"))
			+e.needs-solution
				+header("Текст решения:", true)
				input(type='textarea', class="form-control")
				+e.BUTTON.send.btn-fill-blue.btn.btn-full-width Отправить решение
		+e.planned-terms!=`<span>Планируемые сроки:</span> ${start}  - ${end}` 
		+real_labor_costs(3, 4)
		+check_list2()
		if (role=="executer")&&((!prolong)||(prolong=="prolong-accept")||(prolong=="prolong-decline"))
			+b.prolong
				+header("Запрос на продление крайнего срока:")
				+e.wrap
					+date-field()
					+e.BUTTON.send.btn-fill-blue.btn Отправить
		if (role=="executer")&&(prolong=="prolong")
			+e.prolongue-sent 
				p Отправлен запрос на увеличение срока до 14.08.2023
		+e.tags 
			+assignment_tag("ТЕГ1")
			+assignment_tag("ТЕГ1")
			+assignment_tag("ТЕГДЛИННЫЙ")
			+assignment_tag("ТЕГДЛИННЫЙ")
			+assignment_tag("ТЕГ1")
			+assignment_tag("ТЕГ1")
			+assignment_add()
		+e.progress-circles 
			- for (i = 0; i < days; i++)
				+e.circle(style=`opacity: calc( (${i} + 1) / ${days});`)

mixin date-field()
	+b.input
		input(placeholder="ДД.MM.ГГГГ", type='text', class="form-control--deadline")
		+e.BUTTON.calendar 
			img(src="img/svg/calendar.svg") 

mixin assignment_card_top(priority, work_status, changeble)
	+b.assignment-card-top
		+e.info 
			+e.IMG.icon(src=`img/svg/arrow-circle.svg`)
			+e.status
				if work_status=="opened"
					+assignment_opened(changeble)
				else if work_status=="closed"
					+assignment_closed(changeble)
				else if work_status=="ready"
					+assignment_ready(changeble)
				else 
					+assignment_in-process(change)
			+assignment_priority(priority)
			+e.buttons 
				+e.BUTTON.menu 
					img(src="img/svg/menu.svg")
				+e.BUTTON.close 
					img(src="img/svg/close-cross.svg")
		+e.name
			+icon("active")
			+e.P.text Название проекты в несколько строк проекты в несколько строк 

mixin assignment_priority(priority)
	+b.priority-block
		+e.IMG.icon(src=`img/svg/${priority}.svg`)
		+e.P.text(class=`--${priority}`)=(priority=="not-urgent" ? "Незначительный" : "Другое")

mixin creator(name, role, position, department)
	+b.creator 
		+e.avatar 
			img(src="img/@2x/slide-25.jpg")
		+e.name-and-position 
			+e.P.name=name
			+e.info 
				+e.SPAN.role=`${role}`
				+e.SPAN.position=`${position}`
				+e.SPAN.department=`${department}`


mixin assignment-request(status, text, date, my_request, another_request, terms, request_status, description, prolong_status)
	+b.message(class=(status=="incoming" ? "--incoming" : "--sent"))
		+e.content
			+request(my_request, another_request, terms, request_status, prolong_status)
			+e.text!=text
			if description
				+e.description=description
			+e.date=date

mixin assignment-solution(status, text, date, solution, editable)
	+b.message(class=(status=="incoming" ? "--incoming" : "--sent"))
		+e.content
			+solution(status, false, editable)
			+e.text!=text

mixin check_list2()
	+b.check-list 
		+checkbox-line-unchange("Сформировать ЧТЗ", "12.08.2022")
		+checkbox-line-unchange("Составить договор")
		+checkbox-line-unchange("Согласовать текст договора с юристом, передать новому прожект менеджеру для ознакомления")
		+checkbox-line-unchange("Отправить всем участникам")
		+checkbox-line-unchange("Сформировать ЧТЗ")

mixin real_labor_costs(num, max, width=num/max*100)
	+b.real-labor-costs 
		+e.top
			+e.planned-terms!=`<span>Фактические трудозатраты:</span> 54 ч. 40 мин` 
			+e.BUTTON.show.clean-btn 
				+icon('status')
		- for (i=0; i<num; i++)
			+e.person
				+sender("Гаврилов Антон Анатолиевич", "Эксперт")
				+e.P.time 2ч
		+b.progress-bar 
			+e.scale 
				+e.progress(style=`width: ${width}%`)
			+e.P.amount=`${num}/${max}`
			+e.BUTTON.show.clean-btn 
				+icon('status')

