mixin message(status, text, date, document, table, my_request, another_request, terms, reply, reply_request, solution, solution_date, private,survey)
	+b.message(class=(status=="incoming" ? "--incoming" : "--sent"))
		+private-chat(private) 
		+reply_request(reply_request, text)
		+reply(reply, text)
		+request(my_request, another_request, terms)
		+solution(solution, solution_date)
		+e.content
			span.text!=text
			if document
				+documents()
			if table 
				+table()
			//- if survey
			//- 	+survey(25)
			.date-block
				.date=date
			

mixin reply_request(reply_request, text)
	if reply_request 
		+e.reply-request 
			table 
				tr 
					td.info 
						+e.request--another
							+request_body("Запрос №1")
							+icon("arrow-left")
							p.reply-to Оксана Иванова
				tr 
					td.reply-message
						p!=text

mixin reply(reply, text)
	if reply 
		+e.reply-request 
			table 
				tr 
					td.info 
						+e.request--another.reply
							p.reply-to Оксана Иванова
				tr 
					td.reply-message
						p=text

mixin solution(solution, solution_date)
	if solution 
		+e.request--solution
			+request_body("Решение №15") 
			p.request-date=solution_date 

mixin private-chat(private)
	if private 
		+e.request--private 
			+request_body("Приватный чат завершён") 
			p.request-date=solution_date

mixin request(my_request, another_request, terms)
	+e.request(class=(my_request ? "--my" : another_request ? "--another" : "--none")) 
		+request_body("Запрос №1") 
		p.request-date=terms

mixin request_body(text)
	.request-body 
		+icon("arrow-down")
		//- +icon("private")
		p=text

mixin documents()
	+e.documents
		+e.document(href="#")
			+e.doc-pic
				+icon('file')
			+e.document-info 
				p.document-title Название файла.pdf
				p.document-size 1.0 MB
		+e.document(href="#")
			+e.doc-pic
				+icon('file')
			+e.document-info 
				p.document-title Название файла.pdf
				p.document-size 1.0 MB

mixin table()
	+e.table
		table 
			tr 
				th.header Текущие параметры:
			tr 
				td.name Скорость откачки
				td.value ~ 4.7 см3/с
			tr 
				td.name Давление отбора (депрессия на пласт 108 атм)
				td.value ~ 4.7 см3/с
			tr 
				td.name Скорость откачки
				td.value ~ 4.7 см3/с

mixin survey(progress)
	+b.survey
		+e.progress-bar-wrap
			+e.progress-bar-bg
			+e.progress-bar(style=`width:${progress}%`)